.containers{
    width: 500px;
    margin-left: 30%;
    outline: 2px solid rgb(80, 80, 80);
    padding: 0px 20px 15px 20px; 
    margin-top: 50px;
    background: linear-gradient(#b7b8b9, #999999);
    border-radius: 20px;
}

.title {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}